# ===================================================================
# {{cookiecutter.project_name}}-tools-{{cookiecutter.tool_name}} requirements file
# ===================================================================
{{cookiecutter.project_name}}